<div id="active_cases_header">
    <span class="cases_ribbon">&nbsp; D a s h b o a r d &nbsp;&nbsp;&nbsp; f o r &nbsp;&nbsp;&nbsp; "<%= User.find(session[:id]).user_name %>"</span>
</div>
  <div id="new_evidence_form">
    <span id="new_evidence_header">Submit your story</span>
    <%= form_tag evidences_path do %>

  <!--  Not using photo URL for MVP
  label_tag "Photo URL" %>
  text_field_tag :photo_url %>
  -->
    <% if current_user %>
    <center>
      <div class="google-auth">
        Signed in to Google as <strong><%= current_user.name %></strong>!<br>
        <%= link_to "Sign out", gsignout_path, id: "sign_out" %><br>
      </div>

      <div id="video-status">No video uploaded yet</p></div>

      <div id="widget"></div>
      <div id="player"></div><br>

      <%= hidden_field_tag :video_url %>

    <% else %>
      <div class="google-auth">
        <%= link_to "Sign in to Google to upload your video", "/auth/google_oauth2", id: "sign_in" %>
      </div>

    <% end %>

    <p>Argument</p>
    <%= text_area_tag :argument %>
    <%= hidden_field_tag :case_id, params[:id] %>
    <%= hidden_field_tag :case_user_plaintiff, params["case_user_plaintiff"] %>
    <br><br>
    <%= submit_tag "Submit Argument" %>
  </end>
  <% end %>
</center>
</div>
