

    <p><b><%= username %></b>: <%= comment.body %></p>
    <p><%= button_to "Like", votes_path(direction: "up", comment_id: comment.id, user_id: session[:id]) %>
    <%= button_to "Dislike", votes_path(direction: "down", comment_id: comment.id, user_id: session[:id]) %></p>
    <p>Up-Votes: <%= comment.votes.where(:direction => "up").count %> ---
    Down-Votes: <%= comment.votes.where(:direction => "down").count %></p>
