	<h3>Case</h3>

	<div class="countdown-timer">
		<h4>Remaining Time to Vote: <%= @remaining_days %><small>d</small>
			<%= @remaining_hours %><small>h</small>
			<%= @remaining_minutes %><small>m</small>
			<%= @remaining_seconds %><small>s</small>
		</h4>
	</div>

	<div><%= @case.title %></div>

	<div><%= @case.summary %></div>

	<div class="person1">

		PLAINTIFF: <%= @case.users[0].user_name %>

		<div class="argumentText1">
			PLAINTIFF's ARGUMENT: <%= @case.cases_users[0].evidence.argument %>
		</div>

		<div class="video1">
			<iframe id="ytplayer" type="text/html" width="420" height="237" src="http://www.youtube.com/embed/<%= @case.cases_users[0].evidence.video_url %>" frameborder="0" allowfullscreen>
			</iframe>
		</div>

		<div class="vote-plaintiff">
  		<%= button_to "Vote", case_ballots_path(role: "plaintiff", case_id: @case.id), :remote => true %>
  		<br>
      TOTAL BALLOTS: <span id = 'plaintiff_vote_count'><%= Ballot.where(:role => "plaintiff", :case_id => @case.id).count %></span>
		</div>

	</div>

	<div class="person2">

		DEFENDANT:<%= @case.users[1].user_name %>

		<div class="argumentText2">
			DEFENDANT'S ARGUMENT: <%= @case.cases_users[1].evidence.argument %>
		</div>

		<div class="video2">
			<iframe id="ytplayer" type="text/html" width="420" height="237" src="http://www.youtube.com/embed/<%= @case.cases_users[1].evidence.video_url %>" frameborder="0" allowfullscreen>
			</iframe>
		</div>


    <div class="vote-defendant">
      <%= button_to "Vote", case_ballots_path(case_id: @case.id, role: "defendant"), :remote => true %>
      <br>
      TOTAL BALLOTS: <span id = 'defendant_vote_count'><%= Ballot.where(:role => "defendant", :case_id => @case.id).count %></span>
    </div>


<div class="commentsBox">
  <% @comment = Comment.new %>
  <%= form_for [@case, @comment], :url => case_comments_path(@case, @comment), remote: true do |f| %>
    <%= f.label "Comment" %>
    <%= f.text_area :body, cols: 40, rows: 7 %>
    <%= f.submit "Submit"%>
  <% end %>


	<div id = "commentslist">
	<br>
	<% @case.comments.each do |comment| %>
	    <p><b><%= User.find(comment.user_id).user_name %></b>: <%= comment.body %></p>
	    <%= button_to "Like", votes_path(direction: "up", comment_id: comment.id, user_id: session[:id]), remote: true, :form => { :id => "like", "data-type" => "json" } %>
	    <%= button_to "Dislike", votes_path(direction: "down", comment_id: comment.id, user_id: session[:id]), remote: true, :form => { :id => "dislike", "data-type" => "json" } %>
	    <p>Likes: <span class="<%= comment.id %>up"><%= comment.votes.where(:direction => "up").count %></span>
	    Dislikes: <span class="<%= comment.id %>down"><%= comment.votes.where(:direction => "down").count %></span>
	  </p>
	  <% end %>
	</div>
</div>
