<% if @case.status == "pending" && session[:id] == @case.cases_users[0].user_id %>
	<p> Hi Plaintiff, view the case before it's live</p>

<% elsif @case.status == "pending" && session[:id] == @case.cases_users[1].user_id %>

	<%= render partial: "/evidences/evidencebody" %>


<% elsif @case.status == "pending" %>
	<p> Case is not available yet.  Come back soon! </p>

<% elsif @case.status == "active" %>

	<h3>Case</h3>

	<div><%= @case.title %></div>

	<div class="person1">

		PLAINTIFF: <%= @case.users[0].user_name %>

		<div class="video1">
				<iframe width="200" height="200" src="<%= @case.cases_users[0].evidence.video_url %>" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="argumentText1">
			PLAINTIFF's ARGUMENT: <%= @case.cases_users[0].evidence.argument %>
		</div>

		<div class="vote-plaintiff">
  		<%= button_to "Vote", case_ballots_path(role: "plaintiff", case_id: @case.id), :remote => true %>
  		<br>
      TOTAL BALLOTS: <span id = 'plaintiff_vote_count'><%= Ballot.where(:role => "plaintiff", :case_id => @case.id).count %></span>
		</div>

	</div>

	<div class="person2">

		DEFENDANT:<%= @case.users[1].user_name %>

		<div class="video2">
			<iframe width="200" height="200" src="<%= @case.cases_users[1].evidence.video_url %>" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="argumentText2">
			Defendant's ARGUMENT: <%= @case.cases_users[1].evidence.argument %>
		</div>

		<div class="vote-defendant">
    	<%= button_to "Vote", case_ballots_path(case_id: @case.id, role: "defendant"), :remote => true %>
    	<br>
    	TOTAL BALLOTS: <span id = 'defendant_vote_count'><%= Ballot.where(:role => "defendant", :case_id => @case.id).count %>
		</div>

	</div>
<div class="commentsBox">
  <% @comment = Comment.new %>
  <%= form_for [@case, @comment], :url => case_comments_path(@case, @comment), remote: true do |f| %>
    <%= f.label "Comment" %>
    <%= f.text_field :body %>
    <%= f.submit "Submit"%>
  <% end %>




<div id = "commentslist">Comments
<br>

<% @case.comments.each do |comment| %>
    <%= comment.body %> -<%= User.find(comment.user_id).user_name %>
    <%= button_to "Like", votes_path(direction: "up", comment_id: comment.id, user_id: session[:id]) %>
    <%= button_to "Dislike", votes_path(direction: "down", comment_id: comment.id, user_id: session[:id]) %>
    Up-Votes:<%= comment.votes.where(:direction => "up").count %>
    <br>
    Down-Votes:<%= comment.votes.where(:direction => "down").count %>
    <br>
  <% end %>
</div>
</div>


<% elsif @case.status == "closed"  %>
	<p> we can show what happens after the time has been expired </p>

<% else %>
	<p> Hmm... didn't plan this scenario.</p>

<% end %>

