<h3>Display of a specific case</h3>


<div><%= @case.title %></div>
<br/>
<div class="person1">PLAINTIFF: <%= @case.users[0].user_name %>

<div class="video1"><iframe width="560" height="315" src="<%= @case.cases_users[0].evidence.video_url %>" frameborder="0" allowfullscreen></iframe></div>

<div class="argumentText1">PLAINTIFF's ARGUMENT: <%= @case.cases_users[0].evidence.argument %></div>
<div class="vote-plaintiff">
  <%= button_to "Vote", ballots_path(role: "plaintiff", case_id: @case.id) %>
  <br>
      <%= Ballot.where(:role => "plaintiff", :case_id => @case.id).count %>
</div>
</div>




<div class="person2">DEFENDANT:<%= @case.users[1].user_name %>

<div class="video2"><iframe width="420" height="315" src="<%= @case.cases_users[1].evidence.video_url %>" frameborder="0" allowfullscreen></iframe></div>

<div class="argumentText2">Defendant's ARGUMENT: <%= @case.cases_users[1].evidence.argument %></div>
<div class="vote-defendant">
    <%= button_to "Vote", ballots_path(role: "defendant", case_id: @case.id) %>
    <br>
    <%= Ballot.where(:role => "defendant", :case_id => @case.id).count %>

</div>
</div>
<!--
<div class="commentsBox">
<p>Comments</p>
@case.comments.each do |comment|

<span> User.find(comment.user_id).user_name
 : comment.content </span><br>
end -->





</div>

<div>FEATURE TBI - SIDE MENU??</div>
