<div class="cases_show_main_body">
	<div id="case_heading">
		<h2>CASE DISMISSED!</h2>

		PLAINTIFF: <%= @case.users[0].user_name %> had <%= Ballot.where(:role => "plaintiff", :case_id => @case.id).count %> votes
		<br>
   	DEFENDANT:<%= @case.users[1].user_name %> had <%= Ballot.where(:role => "defendant", :case_id => @case.id).count %> votes

   	<% if ((Ballot.where(:role => "plaintiff", :case_id => @case.id).count) > (Ballot.where(:role => "defendant", :case_id => @case.id).count))%>
   		<p>PLAINTIFF WINS!</p>
 		<% elsif((Ballot.where(:role => "plaintiff", :case_id => @case.id).count) < (Ballot.where(:role => "defendant", :case_id => @case.id).count))%>
 			<p>DEFENDANT WINS!</p>
 		<% else %>
   		<p>IT'S A TIE!</p>
   	<% end %>

	</div>



	<div id="case_details">C a s e &nbsp; D e t a i l s</div>
	<center>
			<h3><%= @case.title %></h3>
	</center>


<div class="both_people">

	<div class="person1">

		PLAINTIFF: <%= @case.users[0].user_name %>

		<div class="argumentText1">
			PLAINTIFF's ARGUMENT: <%= @case.cases_users[0].evidence.argument %>
		</div>

		<div class="video1">
			<iframe id="ytplayer" type="text/html" width="420" height="237" src="http://www.youtube.com/embed/<%= @case.cases_users[0].evidence.video_url %>" frameborder="0" allowfullscreen>
			</iframe>
		</div>


	</div>

	<div class="person2">

		DEFENDANT:<%= @case.users[1].user_name %>

		<div class="argumentText2">
			Defendant's ARGUMENT: <%= @case.cases_users[1].evidence.argument %>
		</div>

		<div class="video2">
			<iframe id="ytplayer" type="text/html" width="420" height="237" src="http://www.youtube.com/embed/<%= @case.cases_users[1].evidence.video_url %>" frameborder="0" allowfullscreen>
			</iframe>
		</div>
	</div>
</div>
<div id="comment_section">

	<div id = "commentslist">
		<br>
		<% @case.comments.each do |comment| %>
		    <p><b><%= User.find(comment.user_id).user_name %></b>: <%= comment.body %></p>
		    <p>
		    Up-Votes: <%= comment.votes.where(:direction => "up").count %> -
		    Down-Votes: <%= comment.votes.where(:direction => "down").count %>
		  </p>
		  <% end %>
	</div>
</div>


<!-- cases show main body -->
</div>