<div class="commentsBox">

  <%= form_tag case_comments_path(@case) do %>
    <%= label_tag "Comment" %>
    <%= text_area_tag :comment %>
    <%= submit_tag "Submit Argument" %>
    <%= hidden_field_tag :real_case_id, @case.id %>
    <%= hidden_field_tag :user_id, session[:id] %>
  <% end %>



  <p>Comments</p>

  <% @case.comments.each do |comment| %>
    <%= comment.content %> -<%= User.find(comment.user_id).user_name %>
    <%= button_to "Like", votes_path(direction: "up", comment_id: comment.id, user_id: session[:id]) %>
    <%= button_to "Dislike", votes_path(direction: "down", comment_id: comment.id, user_id: session[:id]) %>
    Up-Votes:<%= comment.votes.where(:direction => "up").count %>
    <br>
    Down-Votes:<%= comment.votes.where(:direction => "down").count %>
    <br>
  <% end %>

</div>
