<div class="commentsBox">

  <%= form_for case_comments_path(@case), remote: true do |f| %>
    <%= f.label "Comment" %>
    <%= f.text_field :comment %>
    <%= f.submit "Submit"%>
  <% end %>



  <p>Comments</p>

  <% @case.comments.each do |comment| %>
    <%= comment.content %> -<%= User.find(comment.user_id).user_name %>
    <%= button_to "Like", votes_path(direction: "up", comment_id: comment.id, user_id: session[:id]) %>
    <%= button_to "Dislike", votes_path(direction: "down", comment_id: comment.id, user_id: session[:id]) %>
    Up-Votes:<%= comment.votes.where(:direction => "up").count %>
    <br>
    Down-Votes:<%= comment.votes.where(:direction => "down").count %>
    <br>
  <% end %>

</div>
