<div id='create_case_box'>
  <span id="new_case_title">Create a New Case</span>
  <%= form_tag cases_path do %>
    <%= label_tag "Title" %>
    <%= text_field_tag :title %>
    <%= label_tag "Summary" %>
    <%= text_field_tag :summary %>
    <%= label_tag "Defendant" %>
    <%= text_field_tag :defendant_user_name %>

    <%= submit_tag "Create Case" %>
  <% end %>
</div>