<% if session[:id] %>
<div id="box_for_logged_inners">
<!--  <div id="active_cases_header">
    <span class="cases_ribbon">&nbsp; M y &nbsp;&nbsp;&nbsp; C a s e s</span>
  </div> -->
  <div id="active_cases_header">
    <span class="cases_ribbon">&nbsp; D a s h b o a r d &nbsp;&nbsp;&nbsp; f o r &nbsp;&nbsp;&nbsp; "<%= User.find(session[:id]).user_name %>"</span>
  </div>

<!-- alert -->




<!--  -->


  <section class="cases-mycases">
<!-- this is when user is logged in -->
  <div id="active_cases_header">
    <span class="cases_ribbon">&nbsp; M y &nbsp;&nbsp;&nbsp; C a s e s</span>
  </div>
  <br>
  <span class="cases_count_ribbon">Total <%= @my_cases.count  %> my cases</span>

    <ul class="case_list_container">
      <% @my_cases.each do |my_case| %>
        <li class="case_list_item">
          <a href="/cases/<%= my_case.id %>"><span class="case_title_list"><%= my_case.title  %></span></a><br>
          <span class="case_names_list">&nbsp;<%= my_case.users[0].user_name %> v. <%= my_case.users[1].user_name %></span><br>
          <span class="case_status_list">Status: <strong><%= my_case.status %></strong></span>
        </li>
      <% end  %>
    </ul>
  </section>


<% end %>
 <!-- if user is not logged in this page is at the top -->
<section class="cases-showactive">
<div id="active_cases_header">
  <span class="cases_ribbon">&nbsp;A l l &nbsp;&nbsp;&nbsp; A c t i v e &nbsp;&nbsp;&nbsp; C a s e s</span>
</div>
<br>
<span class="cases_count_ribbon">Total <%= @active_cases.count %> active cases
</span>

  <ul class="case_list_container">
    <% @active_cases.each do |active_case| %>
        <li class="case_list_item">
          <a href="/cases/<%= active_case.id %>"><span class="case_title_list"><%= active_case.title  %></span></a><br>
          <span class="case_names_list"><%= active_case.users[0].user_name %> v. <%= active_case.users[1].user_name %></span>
        </li>
    <% end  %>
  </ul>
</section>

<section class="cases-showclosed">
<div id="active_cases_header">
  <span class="cases_ribbon">&nbsp;A l l &nbsp;&nbsp;&nbsp; C l o s e d &nbsp;&nbsp;&nbsp; C a s e s</span>
</div>
<br>
<span class="cases_count_ribbon">Total <%= @closed_cases.count  %> closed cases
</span>

  <ul class="case_list_container">
    <% @closed_cases.each do |closed_case| %>
        <li class="case_list_item">
          <a href="/cases/<%= closed_case.id %>"><span class="case_title_list"><%= closed_case.title %></span></a><br>
          <span class="case_names_list"><%= closed_case.users[0].user_name %> v. <%= closed_case.users[1].user_name %></span>
        </li>
    <% end %>
  </ul>


</section>