<div id="cool_pic">
	<br>
	<div id="main_logo">
		<%= image_tag("bluelogo.png") %>
	</div>
</div>
<% if session[:id] %>
	<%= button_to "log out", session_path(session[:id]), method: :delete, redirect_to: "/" %>
  <h3>Dashboard for <%= User.find(session[:id]).user_name %></h3>

	<section class="dashboard-alerts">
		<h3>Alerts</h3>
		<ul>
			<% invite_count = 0 %>
			<% @my_invites.each do |my_invite| %>
				<% if my_invite.users[0].id != session[:id] %>


					<li><%= my_invite.users[0].user_name %> has sent you a <a href="/cases/<%= my_invite.id %>">challenge!</a></li>


					<% invite_count += 1 %>
				<% end %>
			<% end %>
			<% if invite_count == 0 %>
				<li><%= "No Alerts at the moment.  All clear!" %></li>
			<% end %>
		</ul>
	</section>

	<section class="cases-create">
	<h3>Create new case</h3>
	<%= link_to "Create a Case", new_case_path %>
	</section>

	<section class="cases-mycases">

	<h3>My Cases</h3>
	<h5>Total <%= @my_cases.count  %> my cases</h5>

		<% @my_cases.each do |my_case| %>
			<ul>
		  	<li><a href="/cases/<%= my_case.id %>"><%= my_case.title  %></a></li>
		  	<li><%= my_case.users[0].user_name %> v. <%= my_case.users[1].user_name %></li>

	 		 	<li><%= my_case.status %></li>
	 		</ul>
		<% end  %>
	</section>

<% end %>
 <!-- if user is not logged in this page is at the top -->
<section class="cases-showactive">
<div id="active_cases_header">
	<span class="cases_ribbon">&nbsp;A l l &nbsp;&nbsp;&nbsp; A c t i v e &nbsp;&nbsp;&nbsp; C a s e s</span>
</div>
<br>
<span class="cases_count_ribbon">Total <%= @active_cases.count %> active cases
</span>

	<% @active_cases.each do |active_case| %>
		<ul>
  		<li><a href="/cases/<%= active_case.id %>"><%= active_case.title  %></a></li>
			<li><%= active_case.users[0].user_name %> v. <%= active_case.users[1].user_name %></li>
		</ul>
	<% end  %>
</section>

<section class="cases-showclosed">
<div id="active_cases_header">
	<span class="cases_ribbon">&nbsp;All &nbsp;&nbsp;&nbsp; Closed &nbsp;&nbsp;&nbsp; Cases</span>
</div>
<br>
<span class="cases_count_ribbon">Total <%= @closed_cases.count  %> closed cases
</span>

	<% @closed_cases.each do |closed_case| %>
		<ul>
  		<li><a href="/cases/<%= closed_case.id %>"><%= closed_case.title  %></a></li>
  		<li><%= closed_case.users[0].user_name %> v. <%= closed_case.users[1].user_name %></li>

		</ul>
	<% end  %>

</section>