<section class="dashboard-alerts">
<h3>Alerts</h3>
<ul class="alerts-panel">
<li><%= "count inactive" %> invites need your attention</li>
<li><%= "count open" %> cases open</li>
<li><%= "count closed" %> cases closed</li>
</ul>
</section>


<section class="cases-create">
<h3>Create new case</h3>
<%= link_to "Create a Case", new_case_path %>
</section>

<section class="cases-mycases">

<h3>My Cases</h3>
	<ul>
	<% @my_cases.each do |my_case| %>
  	<li><%= my_case.title  %></li>
	<% end  %>
	</ul>

</section>


<section class="cases-showactive">
<h3>Active Cases. Vote to be heard!</h3>
	<ul>
	<% @active_cases.each do |active_case| %>
  	<li><%= active_case.title  %></li>
	<% end  %>
	</ul>
</section>

<section class="cases-showclosed">
<h3>Closed Cases</h3>
	<ul>
	<% @closed_cases.each do |closed_case| %>
  	<li><%= closed_case.title  %></li>
	<% end  %>
	</ul>

</section>