<div id="header_top">
  <%= render "/layouts/ijuryheader" %>
</div>
<div id="auth_panel">
  <%= render :partial => '/users/sign_up', :locals => {:user => @user} %>
  <%= render :partial => '/sessions/sign_in', :locals => {:user => @user} %>
</div>
<div id="dashboard_middle">
  <%= render "ijurydashboard" %>
</div>
<div id="footer_bottom">
  <%= render "/layouts/ijuryfooter" %>
</div>