<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Lato:300,400' rel='stylesheet' type='text/css'>
  <title>IJURY</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header_top_main">
    <%= render "/layouts/ijuryheader" %>
  </div>

  <div id="body_middle_main">
  <%= yield %>
  <div>

  <div id="footer_bottom_main">
    <%= render "/layouts/ijuryfooter" %>
  </div>

</body>
</html>
