<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Lato:300,400|Cantarell:400,700|Fjalla+One|Lobster|Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <title>IJURY</title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- this part is a header including login logout -->
  <div id="header_top_main">
    <%= render "/pages/ijuryheader" %>
  </div>

  <!-- logo div box -->
  <div id="logo">
    <%= render "/pages/ijuryboxlogoarea" %>
  </div>

  <!-- !!!!!!!!!!!!!!!! -->

    <div id="create_process">
      <%= render "/pages/moving_box" %>
    </div>



  <% if session[:id] %>

  <div id="body_middle_main">
    <%= yield %>
  </div>
 <% end %>
  <!-- this is a footer -->
  <div id="footer_bottom_main">
    <%= render "/pages/ijuryfooter" %>
  </div>

</body>
</html>
